<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Loading...</title>
  <link rel="stylesheet" href="/style.css">
  <meta http-equiv="refresh" content="0.2;url=/joke<%= query %>">
</head>
<body>

  <div class="container">
    <h1>Fetching your joke... 🔄</h1>
    <div class="loader"></div>
  </div>

</body>
</html>
